<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shaoxing.api.dao.CelebrityMapper">
    <resultMap id="BaseResultMap" type="com.shaoxing.api.domain.Celebrity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="img" property="img"/>
        <result column="intro" property="intro"/>
        <result column="issues" property="issues"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,img,intro,issues
    </sql>



    <!--查找所有的名人-->
    <select id="findAllCelebrity" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from celebrity
    </select>

    <!--查找指定的名人-->
    <select id="findOneCelebrity" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from celebrity
        where name=#{name}
    </select>


</mapper>